@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <h2>It ain't much, but honest work</h2>
    <img class="front-picture" src="1y1dm7.jpg">
</div>